*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.info
*.info-[0-9]*
*.ky
*.la
*.lo
*.log
*.o
*.out
*.pdf
*.pg
*.pgs
*.rn
*.rns
*.tar.gz
*.toc
*.tp
*.tps
*.vr
*.vrs
*~
.deps
.dirstamp
.libs
INSTALL
Makefile
Makefile.in
TAGS
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
gucu-[0-9]*
gucushell
gucushell.exe
install-sh
libtool
ltmain.sh
mdate-sh
missing
stamp-h1
stamp-vti
texinfo.tex
uninstalled-env
version.texi

