\#*
*.aux
*.cp
*.cps
*.dvi
*.exe
*.fn
*.fns
*.html
*.info
*.info-[0-9]*
*.ky
*.la
*.lo
*.log
*.o
*.out
*.pdf
*.pg
*.pgs
*.rn
*.rns
*.stackdump
*.tar.gz
*.toc
*.tp
*.tps
*.trs
*.vr
*.vrs
*~
.#*
.deps
.dirstamp
.libs
ABOUT-NLS
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
ar-lib
autom4te.cache
cfg.mk
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
gucu-[0-9]*
gucushell
gucushell.exe
install-sh
libtool
libtool.m4
ltmain.sh
maint.mk
mdate-sh
missing
stamp-h1
stamp-vti
test-driver
texinfo.tex
uninstalled-env
version.texi
